* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	overflow: hidden;
}

img {
	width: 100vw;
}

.container {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-overflow-scrolling: touch;
}

.herounit {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.heroimg {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
	position: relative;
  	top: calc(((100vh - 51.54vw) / 4) * -2);
}